In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# Load and read csv file

weatherpy_vacation = 'weather_challenge\WeatherPy_vacation.csv'

weatherpy_vacation_df = pd.read_csv(weatherpy_vacation)

weatherpy_vacation_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Ishigaki,JP,78.80,24.34,124.16,Hotel Peace Land Ishigakijima
1,Castro,BR,52.56,-24.79,-50.01,CHACARA BAILLY
2,Teya,RU,68.50,60.38,92.63,NaN
3,Fort Nelson,CA,53.60,58.81,-122.70,The Fort Nelson Hotel
4,Egvekinot,RU,32.65,66.32,-179.17,NaN
...,...,...,...,...,...,...
521,Ishikari,JP,57.20,43.24,141.35,ザ・吉岡
522,Aswan,EG,71.24,24.09,32.91,Nuba Nile
523,Marabba,SD,80.40,12.35,32.18,NaN
524,Sihor,IN,88.30,21.70,71.97,Hotel Vijay Palace - Sihor
525,Sturgis,US,37.40,41.80,-85.42,Best Western Plus Howe Inn

In [2]:
'''Remove cities where hotels could not be found. Code templates:
https://stackoverflow.com/questions/29314033/drop-rows-containing-empty-cells-from-a-pandas-dataframe
https://stackoverflow.com/questions/20490274/how-to-reset-index-in-a-pandas-dataframe'''

weatherpy_vacation_df['Hotel Name'].replace('', np.nan, inplace=True)
weatherpy_vacation_df.dropna(subset=['Hotel Name'], inplace=True)

weatherpy_vacation_df.sort_values(['Country', 'City'],ascending=True,inplace=True)
weatherpy_vacation_df.reset_index(drop=True, inplace=True)
weatherpy_vacation_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,The Valley,AI,80.60,18.22,-63.06,CeBlue Villas & Beach Resort
1,Huambo,AO,56.62,-12.78,15.74,SiSHotel
2,Namibe,AO,77.76,-15.20,12.15,Chik-Chik Namibe
3,Soyo,AO,78.15,-6.13,12.37,Hotel Mpampa
4,Comodoro Rivadavia,AR,48.20,-45.87,-67.50,Austral Hotel
...,...,...,...,...,...,...
452,Henties Bay,NaN,69.08,-22.12,14.28,Fishermans Guest House
453,Luderitz,NaN,60.80,-26.65,15.16,LÜDERITZ NEST HOTEL
454,Ongandjera,NaN,68.83,-17.88,15.07,Onesto Guesthouse
455,Oranjemund,NaN,70.66,-28.55,16.43,Fisherman's Cove
456,Walvis Bay,NaN,74.95,-22.96,14.51,Oyster Box Guesthouse

In [3]:
country_tuple = ('AD',
                'AE',
                'AF',
                'AG',
                'AI',
                'AL',
                'AM',
                'AO',
                'AQ',
                'AR',
                'AS',
                'AT',
                'AU',
                'AW',
                'AX',
                'AZ',
                'BA',
                'BB',
                'BD',
                'BE',
                'BF',
                'BG',
                'BH',
                'BI',
                'BJ',
                'BL',
                'BM',
                'BN',
                'BO',
                'BQ',
                'BR',
                'BS',
                'BT',
                'BV',
                'BW',
                'BY',
                'BZ',
                'CA',
                'CC',
                'CD',
                'CF',
                'CG',
                'CH',
                'CI',
                'CK',
                'CL',
                'CM',
                'CN',
                'CO',
                'CR',
                'CU',
                'CV',
                'CW',
                'CX',
                'CY',
                'CZ',
                'DE',
                'DJ',
                'DK,'
                'DM',
                'DO',
                'DZ',
                'EC',
                'EE',
                'EG',
                'EH',
                'ER',
                'ES',
                'ET',
                'FI',
                'FJ',
                'FK',
                'FM',
                'FO',
                'FR',
                'GA',
                'GB',
                'GD',
                'GE',
                'GF',
                'GG',
                'GH',
                'GI',
                'GL',
                'GM',
                'GN',
                'GP',
                'GQ',
                'GR',
                'GS',
                'GT',
                'GU',
                'GW',
                'GY',
                'HK',
                'HM',
                'HN',
                'HR',
                'HT',
                'HU',
                'ID',
                'IE',
                'IL',
                'IM',
                'IN',
                'IO',
                'IQ',
                'IR',
                'IS',
                'IT',
                'JE',
                'JM',
                'JO',
                'JP',
                'KE',
                'KG',
                'KH',
                'KI',
                'KM',
                'KN',
                'KP',
                'KR',
                'KW',
                'KY',
                'KZ',
                'LA',
                'LB',
                'LC',
                'LI',
                'LK',
                'LR',
                'LS',
                'LT',
                'LU',
                'LV',
                'LY',
                'MA',
                'MC',
                'MD',
                'ME',
                'MF',
                'MG',
                'MH',
                'MK',
                'ML',
                'MM',
                'MN',
                'MO',
                'MP',
                'MQ',
                'MR',
                'MS',
                'MT',
                'MU',
                'MV',
                'MW',
                'MX',
                'MY',
                'MZ',
                'NA',
                'NC',
                'NE',
                'NF',
                'NG',
                'NI',
                'NL',
                'NO',
                'NP',
                'NR',
                'NU',
                'NZ',
                'OM',
                'PA',
                'PE',
                'PF',
                'PG',
                'PH',
                'PK',
                'PL',
                'PM',
                'PN',
                'PR',
                'PS',
                'PT',
                'PW',
                'PY',
                'QA',
                'RE',
                'RO',
                'RS',
                'RU',
                'RW',
                'SA',
                'SB',
                'SC',
                'SD',
                'SE',
                'SG',
                'SH',
                'SI',
                'SJ',
                'SK',
                'SL',
                'SM',
                'SN',
                'SO',
                'SR',
                'SS',
                'ST',
                'SV',
                'SX',
                'SY',
                'SZ',
                'TC',
                'TD',
                'TF',
                'TG',
                'TH',
                'TJ',
                'TK',
                'TL',
                'TM',
                'TN',
                'TO',
                'TR',
                'TT',
                'TV',
                'TW',
                'TZ',
                'UA',
                'UG',
                'UM',
                'US',
                'UY',
                'UZ',
                'VA',
                'VC',
                'VE',
                'VG',
                'VI',
                'VN',
                'VU',
                'WF',
                'WS',
                'YE',
                'YT',
                'ZA',
                'ZM',
                'ZW',)

In [4]:
# Ask the user which country they desire to travel to.

while True:
    try:
        country_code = input('Please enter an ISO 3166 code for the country to which you would like to travel: ').upper()
    except ValueError:
        print('Please enter an ISO 3166 country code.')
        print(32)

    if country_code not in country_tuple:
        print('Country code not in list. Please try again.')
        print(35)
        continue
    else:
        break

Please enter an ISO 3166 code for the country to which you would like to travel: AU

In [5]:
# Filter for selected country

selected_country_df = weatherpy_vacation_df.loc[(weatherpy_vacation_df['Country']==country_code)]

# Randomly select a number of cities
n = 5
city_sample_df = selected_country_df.sample(n)

city_sample_df.reset_index(drop=True, inplace=True)
city_sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        5 non-null      object
 1   Country     5 non-null      object
 2   Max Temp    5 non-null      float64
 3   Lat         5 non-null      float64
 4   Lng         5 non-null      float64
 5   Hotel Name  5 non-null      object
dtypes: float64(3), object(3)
memory usage: 368.0+ bytes

In [6]:
# Get cities' lattitude and longitude pairs
# https://stackoverflow.com/questions/16729574/how-to-get-a-value-from-a-cell-of-a-dataframe

city_1_lat = city_sample_df.iloc[0]['Lat']
city_1_lng = city_sample_df.iloc[0]['Lng']
city_2_lat = city_sample_df.iloc[1]['Lat']
city_2_lng = city_sample_df.iloc[1]['Lng']
city_3_lat = city_sample_df.iloc[2]['Lat']
city_3_lng = city_sample_df.iloc[2]['Lng']
city_4_lat = city_sample_df.iloc[3]['Lat']
city_4_lng = city_sample_df.iloc[3]['Lng']
city_5_lat = city_sample_df.iloc[4]['Lat']
city_5_lng = city_sample_df.iloc[4]['Lng']

city_1 = (city_1_lat,city_1_lng)
city_2 = (city_2_lat,city_2_lng)
city_3 = (city_3_lat,city_3_lng)
city_4 = (city_4_lat,city_4_lng)
city_5 = (city_5_lat,city_5_lng)

In [7]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in city_sample_df.iterrows()]

# Gmaps directions documentation
# https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer
fig = gmaps.figure()
locations = city_sample_df[['Lat', 'Lng']]
max_temp = city_sample_df['Max Temp']
directions = gmaps.directions_layer(city_1, city_2, show_markers=False,waypoints=[city_3,city_4,city_5],
                                    travel_mode='DRIVING')
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(directions)
fig

Figure(layout=FigureLayout(height='420px'))