In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Thompson,55.74,-97.86,42.80,87,90,5.82,CA,2020-04-27 02:59:00
1,1,Papara,-3.98,-38.73,78.80,88,75,4.70,BR,2020-04-27 02:59:00
2,2,Saskylakh,71.92,114.08,22.44,95,100,10.00,RU,2020-04-27 02:59:00
3,3,Port Alfred,-33.59,26.89,66.00,83,100,5.01,ZA,2020-04-27 02:54:05
4,4,Yellowknife,62.46,-114.35,21.20,31,20,5.82,CA,2020-04-27 02:59:01

In [3]:
# Check data types
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Papara,-3.98,-38.73,78.80,88,75,4.70,BR,2020-04-27 02:59:00
6,6,Samdari,25.82,72.58,86.38,40,0,10.51,IN,2020-04-27 02:59:01
7,7,Umm Kaddadah,13.60,26.69,78.08,17,36,10.71,SD,2020-04-27 02:59:02
13,13,Rikitea,-23.12,-134.97,75.34,80,6,16.26,PF,2020-04-27 02:59:03
14,14,Kapaa,22.08,-159.32,80.60,61,20,13.87,US,2020-04-27 02:59:03
19,19,Hambantota,6.12,81.12,84.38,73,32,5.70,LK,2020-04-27 02:59:05
20,20,Lorengau,-2.02,147.27,86.13,70,64,5.79,PG,2020-04-27 02:59:05
22,22,Vaini,-21.20,-175.20,75.20,88,90,11.41,TO,2020-04-27 02:59:06
31,31,Luba,3.46,8.55,77.00,100,20,6.93,GQ,2020-04-27 02:59:08
38,38,Amahai,-3.33,128.92,84.81,69,85,3.33,ID,2020-04-27 02:59:10

In [12]:
# Checking for null values
preferred_cities_df.count()

City_ID       165
City          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
Country       165
Date          165
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
1         Papara      BR     78.80  -3.98  -38.73
6        Samdari      IN     86.38  25.82   72.58
7   Umm Kaddadah      SD     78.08  13.60   26.69
13       Rikitea      PF     75.34 -23.12 -134.97
14         Kapaa      US     80.60  22.08 -159.32
19    Hambantota      LK     84.38   6.12   81.12
20      Lorengau      PG     86.13  -2.02  147.27
22         Vaini      TO     75.20 -21.20 -175.20
31          Luba      GQ     77.00   3.46    8.55
38        Amahai      ID     84.81  -3.33  128.92

In [14]:
# Set parameters to search for a hotel.
params = {"radius": 5000,
          "type": "lodging",
          "key": g_key
         }

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print('-----Hotel Found-----')
    except (IndexError):
        print("-----Hotel Not Found-----")

-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Not Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Found-----
-----Hotel Not Found-----

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Papara,BR,78.80,-3.98,-38.73,Bela vista Maranguape
6,Samdari,IN,86.38,25.82,72.58,Karnoba Ki Dhani
7,Umm Kaddadah,SD,78.08,13.60,26.69,
13,Rikitea,PF,75.34,-23.12,-134.97,Pension Maro'i
14,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
19,Hambantota,LK,84.38,6.12,81.12,Bungalow 63
20,Lorengau,PG,86.13,-2.02,147.27,Lorengau Harbourside Hotel
22,Vaini,TO,75.20,-21.20,-175.20,Keleti Beach Resort
31,Luba,GQ,77.00,3.46,8.55,
38,Amahai,ID,84.81,-3.33,128.92,Hotel isabella

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))